{% load promotion %}
{% load static %}

<!doctype html>
<html lang="tr">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://getbootstrap.com/docs/4.3/examples/blog/blog.css">

	<title>{{ request.site.settings.name }}{% block title %}{% endblock title %}</title>
    <meta property="og:locale" content="{{ LANGUAGE_CODE }}">
    <meta property="og:type" content="{% if request.get_full_path == "/" %}website{% else %}article{% endif %}" />
	<meta property="og:title" content="{{ request.site.settings.name }}{% block og_title %}{% endblock og_title %}">
	<meta name="description" content="{% block desc %}{{ request.site.settings.name }}{% endblock desc %}">
	<meta name="keywords" content="{% block keywords %}{% endblock keywords %}">
    <meta property="og:url" content="{% block og_url %}http://{{ request.META.HTTP_HOST }}{{ block.super }}{% endblock og_url %}">

    {% block extra_seo %}
    {{ block.super }}
    {% endblock extra_seo %}
  </head>
  <body>
    <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
		<a class="blog-header-logo text-dark" href="/">{{ request.site.settings.name }}</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
      </div>
    </div>
  </header>

<main role="main" class="container">
  <div class="row">
    <div class="col-md-8 blog-main">
	{% block body %}
	{% endblock body %}
    </div><!-- /.blog-main -->

    <aside class="col-md-4 blog-sidebar">
      <div class="p-4 mb-3 bg-light rounded">
        <h4 class="font-italic">Hakkımızda</h4>
		<p class="mb-0">{{ request.site.settings.desc }}</p>
	    </div>

    	<div class="p-4">
    	    <h4 class="font-italic">İlginizi Çekebilecek Şeyler</h4>
        	<ol class="list-unstyled">
				{% get_links as links %}
				{% for link in links %}
					<li><a href="{{ link.url }}">{{ link.name }}</a></li>
				{% endfor %}
	        </ol>
    	</div>
    </aside><!-- /.blog-sidebar -->

  </div><!-- /.row -->

</main><!-- /.container -->

<footer class="blog-footer">
  <p>Tüm Hakları Saklıdır</p>
  <p>
    <a href="#">Başa Dön</a>
  </p>
</footer>


</body>
</html>
