{% extends "base.html" %}

{% block body %}
	{% for post in posts %}
      <div class="blog-post">
		<h2 class="blog-post-title">
			<a href="{{ post.get_absolute_url }}">
				{{ post.title }}
			</a>
		</h2>
		{{ post.get_body|safe }}
      </div><!-- /.blog-post -->
	{% endfor %}
{% endblock body %}
