{% extends "base.html" %}

{% block title %}
 - {{ post.title }}
{% endblock title %}

{% block og_title %}{{ post.title }} | {{ block.super }}{% endblock og_title %}
{% block desc %}{{ post.get_body|striptags|truncatechars:128 }}{% endblock desc %}
{% block keywords %}{{ block.super }}, {{ post.keywords }}{% endblock keywords %}
{% block og_url %}{{ block.super }}{{ post.get_absolute_url }}{% endblock og_url %}

{% block extra_seo %}
{{ block.super }}
<meta property="article:published_time" content="{{ post.pub_time }}">
<meta property="og:description" content="{{ post.get_body|striptags|truncatechars:128 }}">
<meta property="og:image" content="http://{{ request.META.HTTP_HOST }}{{ post.thumb.url }}">
{% endblock extra_seo %}

{% block body %}
      <div class="blog-post">
		<h2 class="blog-post-title">
			{{ post.title }}
		</h2>
		{{ post.get_body|safe }}
      </div><!-- /.blog-post -->
{% endblock body %}
